## Блок 2

### Шаг 5

In [7]:
# Определим какой товар (столбец Product) упоминается в файле чаще всего
import pandas as pd
data = pd.read_csv('transactions.csv', sep=';')
# получаем ответ
data['Product'].value_counts()

_5    11
_2     8
_8     8
_3     7
_4     7
A1     5
A5     5
A4     5
A2     2
_6     2
Name: Product, dtype: int64

## Блок 3

### Шаг 5

In [16]:
# Найдем, в названиях каких стран есть слово state
data = pd.read_csv('power.csv')
# Используем str.contains() и sum()
len(data[ data['country'].str.contains('state', case=False) ]['country'].unique())

6

### Шаг 8

In [24]:
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

# Применяем метод groupby для группировки строк по годам, считаем количество строк,
# относящихся к определенному году с помощью count() и сортируем по любому столбцу,
# чтобы получить наиболее удобный для нас вид
filtered_countries.groupby('year').count().sort_values('category', ascending=False)

      country  quantity  category
year
2010     1215      1215      1215
2008     1203      1203      1203
2009     1192      1192      1192
2011     1191      1191      1191
2012     1183      1183      1183
2014     1171      1171      1171
2013     1163      1163      1163
2007     1150      1150      1150
2006     1146      1146      1146
2005     1040      1040      1040
2003      997       997       997
2004      993       993       993
2000      984       984       984
2002      982       982       982
2001      972       972       972
1999      942       942       942
1998      934       934       934
1997      914       914       914
1995      898       898       898
1996      896       896       896
1993      860       860       860
1994      857       857       857
1992      814       814       814

## Блок 4

### Шаг 4

In [30]:
# Найдем, на какой транзакции (столбец ID) были наименьшие расходы (столбец Cost) 
# в категории "_8" (столбец Product)
import pandas as pd
data = pd.read_csv('transactions.csv', sep=';')
# Непосредственно находим: сначала выделяем строки, где значение столбца Product равно '_8', 
# затем сортируем получившийся датафрейм по столбцу Cost, берем первую строку нового датафрейма
# (так как именно там находится минимум столбца Cost) и берем оттуда ID
data[data['Product'] == '_8'].sort_values(by='Cost').reset_index().loc[0]['ID']

't023'

## Домашнее задание

In [47]:
# посчитать заданную метрику по данным файла power.csv: каково суммарное
# потребление стран Прибалтики  категорий 4, 12 и 21 за период с 2005 по 2010 года
data = pd.read_csv('power.csv')
# Выясним, как в датафрейме называются Литва, Латвия и Эстония
countries = [ x for x in data['country'].unique() if 'Lit' in x or 'Lat' in x or 'Est' in x]
countries

['Lithuania', 'Latvia', 'Estonia']

In [48]:
# Оставляем только те строки датафрейма, которые содержат 'Lithuania', 'Latvia', 'Estonia'
filtered_countries = data[ (data['country']=='Lithuania') | (data['country']=='Latvia')
                         | (data['country'] == 'Estonia')]

# Оставьте в датафрейме только те строки, 
# год которых приходится на период с 2005 по 2010 включительно
filtered_countries = filtered_countries[(filtered_countries['year'] >= 2005) & 
                                        (filtered_countries['year'] <= 2010)]
# Удалим строки со значением столбца quantity < 0
filtered_countries = filtered_countries[filtered_countries['quantity'] >= 0]

# Оставим в датафрейме только строки со значением столбца category, равным 4, 12 или 21. 
filtered_countries = filtered_countries[(filtered_countries['category'] == 4) |
                                        (filtered_countries['category'] == 12) |
                                        (filtered_countries['category'] == 21)]

# Посчитаум сумму столбца quantity.
filtered_countries['quantity'].sum()

240580.0